---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto - Klyn" bodyClass="bg-light">
    <!-- WELCOME -->
    <section
        class="py-10 py-md-14 overlay overlay-black overlay-60 bg-cover"
        style="background-image: url(assets/img/covers/cover-5.jpg);"
    >
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                    <!-- Heading -->
                    <h1 class="display-2 fw-bold text-white">
                        Estamos para ayudarte.
                    </h1>

                    <!-- Text -->
                    <p class="lead text-white text-opacity-75 mb-0">
                        ¡Nos encanta saber de ti! Cuéntanos cómo podemos
                        ayudarte y haremos todo lo posible.
                    </p>
                </div>
            </div>
            <!-- / .row -->
        </div>
        <!-- / .container -->
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x text-light">
            <svg
                viewBox="0 0 2880 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                    d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z"
                    fill="currentColor"></path></svg
            >
        </div>
    </div>

    <!-- INFO -->
    <section class="py-7 py-md-9 border-bottom border-gray-300" id="info">
        <div class="container pb-8">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Button -->
                    <a
                        href="#info"
                        class="btn btn-white btn-rounded-circle shadow mt-n11 mt-md-n13"
                        data-scroll
                    >
                        <i class="fe fe-arrow-down"></i>
                    </a>
                </div>
            </div>
            <!-- / .row -->
            <div class="row">
                <div
                    class="col-12 col-md-4 text-center border-end border-gray-300"
                >
                    <!-- Heading -->
                    <h6 class="text-uppercase text-gray-700 mb-1">WhatsApp</h6>

                    <!-- Link -->
                    <div class="mb-5 mb-md-0">
                        <a
                            href="https://wa.me/526681629654"
                            class="h4 text-primary"
                            target="_blank"
                            rel="noopener"
                        >
                            Escríbenos
                        </a>
                    </div>
                </div>
                <div
                    class="col-12 col-md-4 text-center border-end border-gray-300"
                >
                    <!-- Heading -->
                    <h6 class="text-uppercase text-gray-700 mb-1">Llámanos</h6>

                    <!-- Link -->
                    <div class="mb-5 mb-md-0">
                        <a href="tel:+526681629654" class="h4">
                            668 162 9654
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <!-- Heading -->
                    <h6 class="text-uppercase text-gray-700 mb-1">
                        Correo electrónico
                    </h6>

                    <!-- Link -->
                    <a href="mailto:contacto@klyn.com.mx" class="h4">
                        contacto@klyn.com.mx
                    </a>
                </div>
            </div>
            <!-- / .row -->
        </div>
    </section>

    <!-- FORM -->
    <!--
    <section class="pt-8 pt-md-11 pb-8 pb-md-14">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <h2 class="fw-bold">
              Contáctanos directamente
            </h2>

            <p class="fs-lg text-body-secondary mb-7 mb-md-9">
              Déjanos tus datos y con gusto te atendemos a la brevedad.
            </p>

          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-md-12 col-lg-10">

            <form>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group mb-5">

                    <label class="form-label" for="contactName">
                      Nombre completo
                    </label>

                    <input class="form-control" id="contactName" type="text" placeholder="Nombre completo">

                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group mb-5">

                    <label class="form-label" for="contactEmail">
                      Email
                    </label>

                    <input class="form-control" id="contactEmail" type="email" placeholder="correo@empresa.com">

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group mb-7 mb-md-9">

                    <label class="form-label" for="contactMessage">
                      ¿En qué podemos ayudarte?
                    </label>

                    <textarea class="form-control" id="contactMessage" rows="5" placeholder="Cuéntanos en qué podemos ayudarte..."></textarea>

                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-auto">

                  <button type="submit" class="btn btn-primary lift">
                    Enviar mensaje
                  </button>

                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </section>
    -->

    <!-- SHAPE -->
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x text-dark">
            <svg
                viewBox="0 0 2880 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                    d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z"
                    fill="currentColor"></path></svg
            >
        </div>
    </div>
</Layout>
